@import url("https://fonts.googleapis.com/css?family=Lato:300");


.Habilidades_Container{
    display: flex;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-color: #F7F7B9;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Habilidades_Container h1{
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
}

.Habilidades_Descripcion_SobreMi{
    font-size: 18px;
    font-weight: 700;
    padding: 0% 20% 0% 20% ; /* arriba, derecha, abajo, izqquierda */
}

.Container_Row_Especificaiones{
    
    display: flex;
    width: 100%;

}

.Container_Col_Especificaiones{
    margin: 30px;

    width: 100%;
    height: 100%;

}




.rainbow {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;

}

.rainbow::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #399953;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#399953),
      to(#399953)
    ),
    -webkit-gradient(linear, left top, left bottom, from(#fbb300), to(#fbb300)),
    -webkit-gradient(linear, left top, left bottom, from(#d53e33), to(#d53e33)),
    -webkit-gradient(linear, left top, left bottom, from(#377af5), to(#377af5));
  background-image: linear-gradient(#399953, #399953),
    linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33),
    linear-gradient(#377af5, #377af5);
  -webkit-animation: rotate 4s linear infinite;
  animation: rotate 4s linear infinite;
}

.rainbow::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: white;
  border-radius: 5px;
}


.especificaciones {
    width: 80%;
    height: 100%;
    animation-name: opacidad;
    animation-duration: 8s;
    padding: 30px;
    
  }

  .especificaciones img {
  margin: 5px;
  }

/* Keyframes */

@keyframes opacidad {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}