.Proyectos_Container {
  display: flex;
  width: 100%;
  height: 100%;
  background: url(../../Images/FondoPortfolio1.svg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.Proyectos_Container_Data1 {
  padding-bottom: 200px;

}
